body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.main-img {
    width: 200px
}

.card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #ddbea9;
    background-color: #6b705c;
    border-bottom: 5px solid #d8cefe;
    text-shadow: 1px 1px;
}



.blue-border {
    border: 1px dotted blue;
}
